@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html {
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    background-color: #183D5D;
}
.navbar-brand{
    font-family: 'Cabin', sans-serif;
    margin-left:100px;
}
.nav-link{
    color:#c4c4c4;
    font-size: 22px;
    font-family: 'Cabin', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-link:hover{
    color:white;
}
.nav-link:active{
    color:#C4C4C4;
}
.nav-item{
    padding:0px 10px;
}
#nav-middle .nav-link:hover{
    background-color:#0069d9;
    border-radius: 40px;
}
#login .nav-item a{
    width:100px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-family: 'Inter', sans-serif;
}
#login .nav-item{
    padding:0px 15px;
}
#cart-badge{
    color:black;
}
#nav-cart{
    color:white;
    font-size: 35px;
}
#name a{
    background-color: black;
    border-radius: 30px;
    color:white;
    text-decoration: none;
    font-size: 16px !important;
    width: 200px !important;
    height:55px !important;
}
#name>a:hover{
    background-color: white;
    color:black;
    transition-duration:180ms;
}
.logout{
    width:100px;
    height:50px;
    font-size: 19px;
    font-family: 'Cabin', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-toggler{
    border:none;
    outline: none;
}
.navbar-toggler i{
    font-size: 35px;
}
@media only screen and (max-width:479px){
    div.container-fluid{
        justify-content: center !important;
    }
    #nav-middle{
        align-items: center;
    }
    #nav-middle li{
        padding:10px 0px;
    }
    .navbar-brand{
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-brand img{
        width:150px;
        height:40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    #login{
        align-items: center;
    }
    #login li{
        margin:15px 0px;
    }
}
@media only screen and (min-width:480px) and (max-width:1399px){
    .nav-link{
        font-size: 18px;
    }   
    .nav-item{
        padding:0px 4px;
    }
    .navbar-brand{
        margin-left: 80px;
    }
    .navbar-brand img{
        width: 200px;
        height: 40px;
    }
    #name a{
        font-size: 15px !important;
        width: 180px !important;
        height:52px !important;
    }
    #login .nav-item a{
        width:93px;
        height:45px;
        font-size:16px;
    }
    #login .nav-item{
        padding:0px 10px;
    }
    #nav-cart{
        font-size: 32px;
    }
    #name a{
        font-size: 16px !important;
        width: 200px !important;
    }
   
}