@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    width:100%;
    height:990px; /*906*/
    background-color: #183D5D;
    font-family: 'Inter', sans-serif;
}
#main>.row{
    padding:0px 170px;
}
.card{
    background-color: #072540;
    border-radius: 10px;
}
.pageTitle{
    color:#c4c4c4;
}
#orderAccept{
    width:75px;
    height:75px;
    background-color: #45D67B;
    border-radius: 10px;
}
#orderAccept i{
    font-size:30px;
}
#orderAccept1{
    width:60px;
    height:60px;
    background-color: #45D67B;
    border-radius: 10px;
}
#orderAccept1 i{
    font-size:20px;
}
#orderCancel{
    width:75px;
    height:75px;
    background-color: #F20606;
    border-radius: 10px;
}
#orderCancel i{
    font-size:30px;
}
#orderCancel1{
    width:60px;
    height:60px;
    background-color: #F20606;
    border-radius: 10px;
}
#orderCancel1 i{
    font-size:22px;
}
#orderPending{
    width:75px;
    height:75px;
    background-color: black;
    border-radius: 10px;  
}
#orderPending i{
    font-size:30px;
}
#orderPending1{
    width:60px;
    height:60px;
    background-color: black;
    border-radius: 10px;  
}
#orderPending1 i{
    font-size:20px;
}
.detail{
    font-size: 18px;
    letter-spacing: 0.4px;
}
.detail .time{
    font-size: 17px;
}
.detail .order-code{
    font-size:17px;
}
#progress h4{
    color:#c4c4c4;
    font-size:15px;
}
#progress p{
    font-size:20px;
}
#orderCount{
    width: 30px;
    height: 30px;
    background-color:black;
    border-radius: 5px;
}
#pendingText{
    font-size:17px;
}
#acceptText{
    font-size:17px;
}
#cancelText{
    font-size:17px;
}
@media only screen and (min-width:480px) and (max-width:1399px){
    body {
        height:990px;
    }
    #main>.row{
        padding:0px 100px;
    }
    #orderAccept{
        width:70px;
        height:70px;
    }
    #orderAccept i{
        font-size:25px;
    }
    #orderAccept1{
        width:55px;
        height:55px;
    }
    #orderAccept1 i{
        font-size:18px;
    }
    #orderCancel{
        width:70px;
        height:70px;
    }
    #orderCancel i{
        font-size:25px;
    }
    #orderCancel1{
        width:55px;
        height:55px;
    }
    #orderCancel1 i{
        font-size:20px;
    }
    #orderPending{
        width:70px;
        height:70px; 
    }
    #orderPending i{
        font-size:25px;
    }
    #orderPending1{
        width:55px;
        height:55px;  
    }
    #orderPending1 i{
        font-size:18px;
    }
    .detail{
        font-size: 16px;
        letter-spacing: 0.3px;
    }
    .detail .time{
        font-size: 15px;
    }
    .detail .order-code{
        font-size:16px;
    }
    #progress h4{
        font-size:14px;
    }
    #progress p{
        font-size:18px;
    }
    #orderCount{
        width: 25px;
        height: 25px;
    }
    #pendingText{
        font-size:16px;
    }
    #acceptText{
        font-size:16px;
    }
    #cancelText{
        font-size:16px;
    }
}
@media only screen and (max-width:479px){
    body {
        height:1990px;
    }
    #main>.row{
        padding:0px 10px;
        flex-direction: column-reverse;
    }
    #orderAccept{
        width:75px;
        height:75px;
    }
    #orderAccept i{
        font-size:30px;
    }
    #orderAccept1{
        width:55px;
        height:55px;
    }
    #orderAccept1 i{
        font-size:18px;
    }
    #orderCancel{
        width:75px;
        height:75px;
    }
    #orderCancel i{
        font-size:30px;
    }
    #orderCancel1{
        width:55px;
        height:55px;
    }
    #orderCancel1 i{
        font-size:20px;
    }
    #orderPending{
        width:75px;
        height:75px; 
    }
    #orderPending i{
        font-size:30px;
    }
    #orderPending1{
        width:55px;
        height:55px;  
    }
    #orderPending1 i{
        font-size:20px;
    }
    .detail{
        font-size: 14px;
        letter-spacing: 0.3px;
        text-align:center;
    }
    .detail .time{
        font-size: 13px;
    }
    .detail .order-code{
        font-size:13px;
    }
    #progress h4{
        font-size:13px;
    }
    #progress p{
        font-size:17px;
    }
    #orderCount{
        width: 25px;
        height: 25px;
    }
    #pendingText{
        font-size:16px;
    }
    #acceptText{
        font-size:16px;
    }
    #cancelText{
        font-size:16px;
    }
    #note .row .col-xxl-9{
        text-align: center;
    }
    #note .row .col-xxl-9 h5{
        margin-top: 20px !important;
    }
    #orders{
        margin-top: 30px;
    }
    .orderData .row .col-12{
        padding:20px 0px;
    }
    .orderData .row{
        margin-top:15px !important;
        margin-bottom: 40px !important;
    }
    #orders .card{
        padding:0px 0px !important;
    }
    #reorder{
        margin-top: 20px;
    }
    #note .row{
        margin:10px  0px !important;
    }
    #note h3{
        margin:15px 0px !important;
    }
    #hr{
        margin-bottom:20px !important;
    }
}